memberships groups:/_/.. 
..apple./
..meta./
..goggle./
..amazon./
..line./
..linkedin:/
..rauketen./
..sap./
..airbnb./
..grap./
..twitter./
..yahoo./
..booking.com./
..cloudflare./
..spotify./
..goto./
..expediagroup./
..facebook./
.megadata.dst.
